body {
  margin: 60px;
  font-family: "Yantramanav", sans-serif;
}

div.card.capsule {
  color: #1b1c25;
  margin: 0 auto;
  min-width: 540px;
  max-width: 700px;
  background-image: linear-gradient(to top, #ffffff, #4dd1e2, #15a3b8);

  background-blend-mode: normal, color-burn;
  box-shadow: 5px 5px 10px rgba(21, 163, 184, 0.3);
}
h1 {
  line-height: 27px;
  display: inline-block;
}

h2,
h3 {
  color: rgb(34, 38, 42);
  display: inline-block;
}
h2 {
  margin-top: 61px;
  font-size: 50;
  font-weight: 400;
  line-height: 35px;
}
h3 {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 300;
  line-height: 35px;
}

h5 {
  color: rgb(34, 38, 42);

  font-size: 20px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}
p {
  color: rgb(34, 38, 42);
  margin-top: 85px;
}
small {
  font-size: 15px;
  color: rgb(33, 33, 33);
  display: block;
  text-align: center;
  margin-top: 10px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.search.button {
  box-shadow: 5px 5px 10px rgba(21, 163, 184, 0.3);
}
.search-city-current-location {
  float: right;
}
.current-location-button {
  background: transparent;
  color: rgb(34, 38, 42);
  border-style: none;
}
.fa-location-arrow {
  color: rgb(34, 38, 42);
}
.current-conditions {
  margin: 60px 5px;
  text-align: center;
}
.weather-icon-today {
  margin-bottom: 25px;
  color: #fbc02d;
  font-size: 125px;

  float: left;
}
.condition-description {
  font-size: 28px;
  font-weight: 400;
}
.condition-description:first-letter {
  text-transform: capitalize;
}
.last-update {
  font-size: 15px;
}
.temp-high-low-today {
  font-size: 20px;
  font-weight: 400;
}
.week-ahead {
  background: linear-gradient(to top, #ffffff, #4dd1e2, #15a3b8);
  background-blend-mode: normal, color-burn;
  text-align: center;

  box-shadow: 5px 5px 10px rgba(21, 163, 184, 0.3);
}
.weather-forcast {
  display: inline-flex;
}
.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}
.temp-high-low-future {
  text-align: center;
  color: rgb(135, 135, 135);
  font-size: 15px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}

.btn-group {
  float: right;
  margin: 10px 20px;
  box-shadow: 5px 5px 10px rgba(21, 163, 184, 0.3);
}
.btn-group .active:hover {
  cursor: default;
}
